<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - NegoSudWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/NegoSudWeb.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<!-- Logo à gauche -->
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">

					<svg width="173" height="71" viewBox="0 0 173 71" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M161.493 21.8001C164.52 20.4827 168.071 21.8655 169.454 24.8886C170.771 27.916 169.388 31.4669 166.361 32.8498C163.338 34.1672 159.783 32.7843 158.404 29.7569C157.021 26.6684 158.47 23.1131 161.493 21.8001ZM167.281 35.0222C171.495 33.1813 173.467 28.2475 171.626 23.9681C169.781 19.7585 164.847 17.7868 160.572 19.6277C156.363 21.4685 154.391 26.4023 156.232 30.6817C158.073 34.8913 163.006 36.8631 167.281 35.0222Z" fill="#460A26" />
						<path d="M142.024 21.6649C145.705 20.0203 150.046 21.7347 151.625 25.4164C153.27 29.1026 151.559 33.443 147.878 35.0222C144.192 36.6668 139.851 34.9568 138.272 31.2706C136.627 27.6543 138.337 23.3138 142.024 21.6649ZM148.864 37.26C153.732 35.1531 155.97 29.4297 153.863 24.5614C151.756 19.6931 146.032 17.4552 141.164 19.5622C136.3 21.6649 134.062 27.3882 136.165 32.2565C138.207 37.1248 143.93 39.3627 148.864 37.26Z" fill="#460A26" />
						<path d="M163.73 38.9703C165.571 38.1808 167.744 39.0358 168.533 40.8767C169.323 42.7175 168.468 44.89 166.627 45.6795C164.782 46.4691 162.614 45.6141 161.824 43.7732C161.035 41.928 161.89 39.7599 163.73 38.9703ZM167.547 47.7822C170.57 46.4691 171.953 42.9138 170.64 39.8908C169.323 36.8633 165.772 35.4805 162.745 36.7979C159.717 38.1153 158.334 41.6662 159.652 44.6937C161.035 47.7167 164.52 49.0996 167.547 47.7822Z" fill="#460A26" />
						<mask id="mask0_215_1903" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="157" y="48" width="14" height="14">
							<path d="M157.998 48.1484H170.282V61.2309H157.998V48.1484Z" fill="white" />
						</mask>
						<g mask="url(#mask0_215_1903)">
							<path d="M162.679 51.2721C164.52 50.4825 166.692 51.3375 167.482 53.1784C168.271 55.0193 167.416 57.1917 165.571 57.9813C163.73 58.7709 161.558 57.9159 160.768 56.075C159.979 54.2297 160.838 52.0617 162.679 51.2721ZM166.492 60.0839C169.519 58.7709 170.902 55.22 169.584 52.1925C168.271 49.1651 164.716 47.7823 161.693 49.0997C158.666 50.4171 157.283 53.968 158.6 56.9954C159.913 60.0185 163.468 61.4013 166.492 60.0839Z" fill="#460A26" />
						</g>
						<path d="M142.678 2.85031C146.887 3.05098 150.901 5.1536 152.942 8.3119C154.255 10.4843 154.456 12.7876 153.4 14.9557C145.177 15.0211 144.322 10.6806 143.467 6.14384C143.206 4.9573 143.009 3.90598 142.678 2.85031ZM154.783 17.259L155.115 16.7311C156.956 13.6426 156.89 10.2182 154.98 7.12972C152.284 2.78488 146.429 0.0889808 140.837 0.551383L138.931 0.747686L139.982 2.39227C140.641 3.37815 140.902 4.9573 141.234 6.60188C142.089 11.2739 143.337 17.7214 154.19 17.3244L154.783 17.259Z" fill="#460A26" />
						<path d="M166.823 7.65322C166.561 8.24649 166.426 8.90519 166.23 9.62933C165.375 12.7876 164.585 15.4835 159.259 15.0866C158.666 13.3765 159.455 11.8672 160.179 10.8769C161.693 8.97063 164.389 7.71865 166.823 7.65322ZM163.992 16.8009C167.019 15.4835 167.874 12.4561 168.468 10.288C168.795 9.16693 169.061 8.05018 169.584 7.45691L170.706 6.00863L168.926 5.61603C165.244 4.76102 160.838 6.4056 158.334 9.49846C156.559 11.732 156.166 14.4322 157.348 16.8009L157.614 17.3898L158.269 17.4553C160.768 17.6559 162.614 17.3898 163.992 16.8009Z" fill="#460A26" />
						<path d="M17.6978 40.8145H15.5123C15.1851 40.8145 14.9016 40.9366 14.6617 41.1809C14.4174 41.4252 14.2952 41.6651 14.2952 41.9923V58.6344C14.2952 58.8787 14.1731 59.0401 13.9724 59.0794C13.6889 59.1622 13.5275 59.0794 13.4446 58.8351L5.34817 41.5037C5.14314 41.0587 4.78107 40.8145 4.29249 40.8145H1.17346C0.850647 40.8145 0.567097 40.9366 0.322809 41.1809C0.0828838 41.4252 0 41.6651 0 41.9923V69.3264C0 69.6492 0.0828838 69.9327 0.322809 70.177C0.567097 70.417 0.850647 70.4998 1.17346 70.4998H3.36333C3.68613 70.4998 3.96968 70.417 4.21397 70.177C4.4539 69.9327 4.57604 69.6492 4.57604 69.3264V52.6799C4.57604 52.44 4.69819 52.3178 4.94247 52.2349C5.1824 52.1957 5.34817 52.2786 5.42669 52.4792L13.5275 69.8106C13.7281 70.2992 14.0946 70.4998 14.5788 70.4998H17.6978C18.0206 70.4998 18.3042 70.3777 18.5485 70.1334C18.7491 69.9327 18.8713 69.6492 18.8713 69.3264V41.9923C18.8713 41.6651 18.7491 41.4252 18.5092 41.1809C18.2649 40.9366 18.0206 40.8145 17.6978 40.8145Z" fill="#460A26" />
						<path d="M37.4965 44.217V41.9923C37.4965 41.6651 37.3744 41.4252 37.1344 41.1809C36.8901 40.9366 36.6459 40.8145 36.323 40.8145H24.0912C23.7684 40.8145 23.4848 40.9366 23.2405 41.1809C23.0006 41.4252 22.9177 41.6651 22.9177 41.9923V69.3264C22.9177 69.6492 23.0006 69.9327 23.2405 70.177C23.4848 70.417 23.7684 70.4998 24.0912 70.4998H36.323C36.6459 70.4998 36.8901 70.417 37.1344 70.177C37.3744 69.9327 37.4965 69.6492 37.4965 69.3264V67.0973C37.4965 66.7744 37.3744 66.5302 37.1344 66.2902C36.8901 66.0459 36.6459 65.9238 36.323 65.9238H28.6672C28.3444 65.9238 28.0609 65.8409 27.8166 65.601C27.5767 65.3567 27.4938 65.0731 27.4938 64.7503V55.9211C27.4938 55.5983 27.5767 55.354 27.8166 55.1097C28.0609 54.8698 28.3444 54.7476 28.6672 54.7476H33.7318C34.0547 54.7476 34.3382 54.6255 34.5825 54.3812C34.8224 54.1412 34.9446 53.8577 34.9446 53.5305V51.345C34.9446 51.0222 34.8224 50.7779 34.5825 50.5336C34.3382 50.2937 34.0547 50.1716 33.7318 50.1716H28.6672C28.3444 50.1716 28.0609 50.0887 27.8166 49.8488C27.5767 49.6045 27.4938 49.3209 27.4938 48.9981V46.5683C27.4938 46.2411 27.5767 46.0012 27.8166 45.7569C28.0609 45.5126 28.3444 45.3905 28.6672 45.3905H36.323C36.6459 45.3905 36.8901 45.312 37.1344 45.0677C37.3744 44.8234 37.4965 44.5398 37.4965 44.217Z" fill="#460A26" />
						<path d="M66.0857 55.0312H56.0001C55.6773 55.0312 55.3937 55.1533 55.1494 55.3932C54.9095 55.6375 54.8266 55.8818 54.8266 56.2046V58.3901C54.8266 58.7566 54.9095 59.0401 55.1494 59.2844C55.3937 59.5243 55.6773 59.6072 56.0001 59.6072H60.9426C61.1432 59.6072 61.3046 59.6857 61.4268 59.8515C61.5097 60.0129 61.5489 60.2136 61.5097 60.4142C61.104 61.6313 60.6198 62.6041 59.9698 63.3326C59.3198 64.0611 58.6742 64.6282 57.9457 65.0339C57.2172 65.4396 56.5279 65.6795 55.8779 65.7624C55.1931 65.8845 54.626 65.9238 54.1374 65.9238C53.4918 65.9238 52.7196 65.8409 51.8297 65.6402C50.9398 65.4396 50.0499 64.9903 49.1993 64.2618C48.3486 63.5769 47.6201 62.5605 47.0094 61.1863C46.403 59.8515 46.1195 58.028 46.1195 55.6768C46.1195 53.3691 46.403 51.5457 47.0094 50.1716C47.6201 48.7931 48.3486 47.781 49.1993 47.0525C50.0499 46.3633 50.9398 45.9183 51.8297 45.7177C52.7196 45.5126 53.4918 45.3905 54.1374 45.3905C54.4646 45.3905 54.8659 45.4341 55.3545 45.4734C55.8387 45.5563 56.3273 45.674 56.8507 45.8398C57.3393 46.0012 57.8628 46.2411 58.3906 46.5683C58.9185 46.8911 59.4027 47.3361 59.8869 47.8639C60.1312 48.1038 60.3755 48.1475 60.659 47.9861L63.573 46.324C63.7344 46.2411 63.8173 46.0797 63.8566 45.9183C63.8958 45.7569 63.8566 45.5955 63.778 45.4341C62.6439 43.8942 61.2261 42.76 59.6033 41.9923C57.9849 41.2201 56.1615 40.8145 54.1374 40.8145C52.1133 40.8145 50.2506 41.2201 48.6322 41.9923C47.0094 42.76 45.6353 43.8942 44.5011 45.4341C43.5283 46.7297 42.7605 48.2696 42.272 49.9665C41.7877 51.7115 41.5435 53.6134 41.5435 55.6768C41.5435 59.8515 42.5162 63.2497 44.5011 65.9238C46.8087 69.0036 50.0063 70.4998 54.1374 70.4998C56.1615 70.4998 57.9849 70.1334 59.6033 69.3656C61.2261 68.5979 62.6439 67.4637 63.778 65.9238C64.8294 64.4668 65.5971 62.844 66.0421 61.0642C66.4914 59.2844 66.7313 57.5002 66.7313 55.6375C66.7313 55.4761 66.6528 55.354 66.5307 55.2318C66.4085 55.1097 66.2471 55.0312 66.0857 55.0312Z" fill="#460A26" />
						<path d="M82.0369 70.4998C85.7623 70.4998 88.6763 68.9599 90.744 65.8017C92.4453 63.1712 93.296 59.8079 93.296 55.6768C93.296 53.6527 93.0517 51.79 92.646 50.0887C92.201 48.3874 91.5511 46.8519 90.744 45.5563C88.6763 42.3936 85.7623 40.8145 82.0369 40.8145C78.2722 40.8145 75.3539 42.3936 73.3298 45.5563C72.4791 46.8519 71.8335 48.3874 71.4278 50.0887C70.9829 51.79 70.7778 53.6527 70.7778 55.6768C70.7778 59.8079 71.6285 63.1712 73.3298 65.8017C75.3539 68.9599 78.2722 70.4998 82.0369 70.4998ZM82.0369 45.3905C83.049 45.3905 83.9389 45.5955 84.6674 46.0012C85.3959 46.4025 86.0066 46.8911 86.4908 47.5367C86.975 48.1867 87.3807 48.876 87.7079 49.6437C87.9914 50.4159 88.1921 51.1836 88.3535 51.9514C88.5149 52.7235 88.5978 53.452 88.637 54.0976C88.6763 54.7476 88.7199 55.2754 88.7199 55.6768C88.7199 56.0825 88.6763 56.6496 88.637 57.2995C88.5978 57.9452 88.5149 58.6737 88.3535 59.4022C88.1921 60.1743 87.9914 60.9421 87.7079 61.7142C87.3807 62.4819 86.975 63.1712 86.4908 63.8168C86.0066 64.4668 85.3959 64.951 84.6674 65.3567C83.9389 65.7624 83.049 65.9238 82.0369 65.9238C80.9856 65.9238 80.1349 65.7624 79.4021 65.3567C78.6736 64.951 78.028 64.4668 77.5394 63.8168C77.0552 63.1712 76.6495 62.4819 76.3659 61.7142C76.0431 60.9421 75.8425 60.1743 75.6767 59.4022C75.5153 58.6737 75.4368 57.9452 75.3931 57.2995C75.3539 56.6496 75.3539 56.0825 75.3539 55.6768C75.3539 55.2754 75.3539 54.7476 75.3931 54.0976C75.4368 53.452 75.5153 52.7235 75.6767 51.9514C75.8425 51.1836 76.0431 50.4159 76.3659 49.6437C76.6495 48.876 77.0552 48.1867 77.5394 47.5367C78.028 46.8911 78.6736 46.4025 79.4021 46.0012C80.1349 45.5955 80.9856 45.3905 82.0369 45.3905Z" fill="#460A26" />
						<path d="M104.59 40.8145C102.199 40.8145 100.419 41.4644 99.2416 42.7208C98.0288 44.0164 97.4617 45.7962 97.4617 48.1038C97.4617 48.9545 97.5446 49.7266 97.706 50.4551C97.8674 51.1836 98.1902 51.9121 98.5959 52.6406C99.0016 53.3691 99.5687 54.0976 100.258 54.8261C100.904 55.5546 101.754 56.366 102.766 57.1774C103.534 57.823 104.184 58.4337 104.712 59.0008C105.235 59.5679 105.68 60.0522 106.007 60.5364C106.33 61.0249 106.531 61.5092 106.697 61.9977C106.814 62.4819 106.897 63.0098 106.897 63.494C106.897 64.5453 106.653 65.2738 106.208 65.6795C105.763 66.1245 105.157 66.3295 104.385 66.3295C103.578 66.3295 102.971 66.1245 102.566 65.6795C102.121 65.2738 101.916 64.5453 101.916 63.494V62.3205C101.916 62.0763 101.793 61.8756 101.632 61.7142C101.431 61.5484 101.226 61.4306 100.986 61.4306H98.2295C97.9896 61.4306 97.7453 61.5484 97.5839 61.7142C97.4225 61.8756 97.3396 62.0763 97.3396 62.3205V63.2105C97.3396 65.5574 97.946 67.3808 99.163 68.6371C100.376 69.8935 102.16 70.4998 104.55 70.4998C106.897 70.4998 108.677 69.8935 109.894 68.6371C111.107 67.3808 111.718 65.5574 111.718 63.2105C111.718 62.3991 111.596 61.592 111.434 60.8635C111.273 60.135 110.989 59.4458 110.584 58.7173C110.178 57.9844 109.611 57.2559 108.921 56.5274C108.232 55.7989 107.382 54.9919 106.413 54.1412C105.602 53.4913 104.952 52.9242 104.428 52.3571C103.9 51.79 103.495 51.2621 103.172 50.7779C102.849 50.2937 102.605 49.8488 102.483 49.3602C102.321 48.876 102.282 48.3874 102.282 47.8203C102.282 46.8082 102.483 46.0797 102.888 45.6348C103.294 45.1898 103.9 44.9455 104.712 44.9455C105.48 44.9455 106.086 45.1898 106.492 45.6348C106.897 46.0797 107.098 46.8082 107.098 47.8203V48.1038C107.098 48.3874 107.181 48.6317 107.342 48.7931C107.504 48.9545 107.748 49.0374 108.032 49.0374H110.745C110.989 49.0374 111.229 48.9545 111.391 48.7931C111.556 48.6317 111.674 48.3874 111.674 48.1038C111.674 45.7962 111.068 44.0164 109.894 42.7208C108.677 41.4644 106.937 40.8145 104.59 40.8145Z" fill="#460A26" />
						<path d="M131.842 40.8145H129.652C129.33 40.8145 129.046 40.9366 128.802 41.1809C128.562 41.4252 128.44 41.6651 128.44 41.9923V61.9977C128.44 63.1276 128.034 64.0611 127.306 64.7896C126.533 65.5574 125.604 65.9238 124.509 65.9238C123.942 65.9238 123.375 65.8409 122.891 65.601C122.363 65.396 121.918 65.1124 121.556 64.7111C121.15 64.3446 120.867 63.8997 120.662 63.3719C120.422 62.8876 120.339 62.3205 120.339 61.7534V41.9923C120.339 41.6651 120.217 41.4252 119.977 41.1809C119.733 40.9366 119.449 40.8145 119.126 40.8145H116.936C116.614 40.8145 116.33 40.9366 116.086 41.1809C115.846 41.4252 115.763 41.6651 115.763 41.9923V61.8756C115.763 63.0883 115.968 64.1832 116.452 65.2346C116.897 66.2902 117.503 67.1801 118.315 67.9479C119.083 68.7593 119.977 69.3656 121.028 69.8106C122.08 70.2992 123.174 70.4998 124.387 70.4998C125.565 70.4998 126.699 70.2992 127.751 69.8499C128.802 69.4049 129.696 68.7985 130.503 67.9872C131.275 67.2194 131.882 66.2902 132.327 65.2346C132.772 64.1832 133.016 63.0883 133.016 61.8756V41.9923C133.016 41.6651 132.894 41.4252 132.649 41.1809C132.409 40.9366 132.165 40.8145 131.842 40.8145Z" fill="#460A26" />
						<path d="M141.637 40.8145H138.234C137.912 40.8145 137.628 40.9366 137.384 41.1809C137.144 41.4252 137.061 41.6651 137.061 41.9923V69.3264C137.061 69.6492 137.144 69.9327 137.384 70.177C137.628 70.417 137.912 70.4998 138.234 70.4998H141.637C143.823 70.4998 145.768 70.1334 147.552 69.3264C149.293 68.5543 150.789 67.5029 152.006 66.1245C153.219 64.7896 154.192 63.2105 154.837 61.4306C155.487 59.6465 155.854 57.7052 155.854 55.6375C155.854 53.6134 155.487 51.6678 154.837 49.888C154.192 48.1038 153.219 46.5247 152.006 45.1898C150.789 43.855 149.293 42.7993 147.552 41.9923C145.768 41.2201 143.823 40.8145 141.637 40.8145ZM141.637 64.6675V46.6076C141.637 46.2848 141.759 45.9576 142.004 45.7177C142.243 45.4734 142.571 45.3905 142.976 45.4341C144.272 45.5955 145.402 46.0012 146.418 46.5683C147.387 47.1747 148.237 47.9424 148.926 48.8323C149.576 49.7266 150.1 50.7779 150.427 51.9514C150.75 53.1292 150.951 54.3419 150.951 55.6375C150.951 56.9331 150.75 58.1895 150.427 59.3629C150.1 60.5364 149.576 61.592 148.926 62.4819C148.237 63.3719 147.387 64.144 146.418 64.7111C145.402 65.3174 144.272 65.6795 142.976 65.8409C142.571 65.9238 142.243 65.8409 142.004 65.601C141.759 65.3567 141.637 65.0731 141.637 64.6675Z" fill="#460A26" />
					</svg>

				</a>

				<!-- Bouton de basculement pour les petits écrans -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navigation à droite -->
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav ">
						<li class="nav-item">
							<a class="nav-link text-dark title-header" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
						</li>												
						<li class="nav-item">
							<a class="nav-link text-dark title-header" asp-area="" asp-controller="Produits" asp-action="Index">Produits</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark title-header" asp-area="" asp-controller="Categories" asp-action="Index">Catégories</a>
						</li>						
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Panier" asp-action="Index">
								<svg class="panier-button" width="70" height="71" viewBox="0 0 70 71" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M29.1667 58.8332C27.6196 58.8332 26.1358 58.2186 25.0419 57.1246C23.9479 56.0307 23.3333 54.5469 23.3333 52.9998C23.3333 51.4527 23.9479 49.969 25.0419 48.875C26.1358 47.7811 27.6196 47.1665 29.1667 47.1665C30.7138 47.1665 32.1975 47.7811 33.2915 48.875C34.3854 49.969 35 51.4527 35 52.9998C35 54.5469 34.3854 56.0307 33.2915 57.1246C32.1975 58.2186 30.7138 58.8332 29.1667 58.8332ZM49.5833 58.8332C48.0362 58.8332 46.5525 58.2186 45.4585 57.1246C44.3646 56.0307 43.75 54.5469 43.75 52.9998C43.75 51.4527 44.3646 49.969 45.4585 48.875C46.5525 47.7811 48.0362 47.1665 49.5833 47.1665C51.1304 47.1665 52.6142 47.7811 53.7081 48.875C54.8021 49.969 55.4167 51.4527 55.4167 52.9998C55.4167 54.5469 54.8021 56.0307 53.7081 57.1246C52.6142 58.2186 51.1304 58.8332 49.5833 58.8332ZM11.5558 17.7753C10.8277 17.7518 10.1373 17.446 9.63054 16.9227C9.12379 16.3993 8.84045 15.6994 8.84045 14.9709C8.84045 14.2424 9.12379 13.5425 9.63054 13.0191C10.1373 12.4957 10.8277 12.19 11.5558 12.1665H14.9129C17.5438 12.1665 19.8188 13.9923 20.3904 16.559L24.045 33.0148C24.6167 35.5815 26.8917 37.4073 29.5225 37.4073H51.4325L55.6383 20.5782H28.3821C27.6608 20.5453 26.98 20.2356 26.4812 19.7135C25.9825 19.1915 25.7042 18.4973 25.7042 17.7753C25.7042 17.0532 25.9825 16.359 26.4812 15.837C26.98 15.3149 27.6608 15.0052 28.3821 14.9723H55.6383C56.491 14.9721 57.3325 15.1662 58.0988 15.54C58.8651 15.9138 59.5362 16.4574 60.0609 17.1295C60.5856 17.8015 60.9502 18.5844 61.1269 19.4185C61.3037 20.2526 61.2879 21.1161 61.0808 21.9432L56.875 38.7665C56.5718 39.9804 55.8714 41.0581 54.8852 41.8281C53.899 42.5981 52.6837 43.0163 51.4325 43.0161H29.5225C26.9698 43.0164 24.4934 42.1461 22.5021 40.5489C20.5109 38.9516 19.124 36.723 18.5704 34.2311L14.9129 17.7753H11.5558Z" fill="#F9D9D9" />
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Login">
								<svg class="panier-button" width="70" height="71" viewBox="0 0 70 71" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path opacity="0.5" d="M35.0001 58.8332C28.8117 58.8332 22.8768 56.3748 18.5009 51.999C14.1251 47.6231 11.6667 41.6882 11.6667 35.4998C11.6667 29.3115 14.1251 23.3765 18.5009 19.0007C22.8768 14.6248 28.8117 12.1665 35.0001 12.1665V58.8332Z" fill="#F9D9D9" />
									<path fill-rule="evenodd" clip-rule="evenodd" d="M48.0376 25.2042C47.6279 25.6144 47.3978 26.1703 47.3978 26.75C47.3978 27.3297 47.6279 27.8857 48.0376 28.2959L53.0543 33.3125H29.1667C28.5866 33.3125 28.0302 33.543 27.62 33.9532C27.2097 34.3635 26.9792 34.9199 26.9792 35.5C26.9792 36.0802 27.2097 36.6366 27.62 37.0468C28.0302 37.4571 28.5866 37.6875 29.1667 37.6875H53.0543L48.0376 42.7042C47.8227 42.9045 47.6503 43.146 47.5307 43.4143C47.4112 43.6826 47.3469 43.9723 47.3417 44.266C47.3365 44.5597 47.3905 44.8515 47.5006 45.1239C47.6106 45.3962 47.7743 45.6437 47.9821 45.8514C48.1898 46.0591 48.4372 46.2229 48.7096 46.3329C48.982 46.4429 49.2737 46.4969 49.5674 46.4918C49.8612 46.4866 50.1508 46.4223 50.4192 46.3027C50.6875 46.1832 50.929 46.0108 51.1293 45.7959L59.8792 37.0459C60.2889 36.6357 60.519 36.0797 60.519 35.5C60.519 34.9203 60.2889 34.3644 59.8792 33.9542L51.1293 25.2042C50.7191 24.7945 50.1631 24.5645 49.5834 24.5645C49.0037 24.5645 48.4477 24.7945 48.0376 25.2042Z" fill="#F9D9D9" />
								</svg>

							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - NegoSudWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
