<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - NegoSudWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/NegoSudWeb.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NegoSudWeb</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
						</li>   
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Produits" asp-action="Index">Produits</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Catégorie</a>
						</li>
						<li class="nav-item">

							<a class="nav-link text-dark" asp-area="" asp-controller="Panier" asp-action="Index">
								<svg class="panier-button" width="70" height="71" viewBox="0 0 70 71" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M29.1667 58.8332C27.6196 58.8332 26.1358 58.2186 25.0419 57.1246C23.9479 56.0307 23.3333 54.5469 23.3333 52.9998C23.3333 51.4527 23.9479 49.969 25.0419 48.875C26.1358 47.7811 27.6196 47.1665 29.1667 47.1665C30.7138 47.1665 32.1975 47.7811 33.2915 48.875C34.3854 49.969 35 51.4527 35 52.9998C35 54.5469 34.3854 56.0307 33.2915 57.1246C32.1975 58.2186 30.7138 58.8332 29.1667 58.8332ZM49.5833 58.8332C48.0362 58.8332 46.5525 58.2186 45.4585 57.1246C44.3646 56.0307 43.75 54.5469 43.75 52.9998C43.75 51.4527 44.3646 49.969 45.4585 48.875C46.5525 47.7811 48.0362 47.1665 49.5833 47.1665C51.1304 47.1665 52.6142 47.7811 53.7081 48.875C54.8021 49.969 55.4167 51.4527 55.4167 52.9998C55.4167 54.5469 54.8021 56.0307 53.7081 57.1246C52.6142 58.2186 51.1304 58.8332 49.5833 58.8332ZM11.5558 17.7753C10.8277 17.7518 10.1373 17.446 9.63054 16.9227C9.12379 16.3993 8.84045 15.6994 8.84045 14.9709C8.84045 14.2424 9.12379 13.5425 9.63054 13.0191C10.1373 12.4957 10.8277 12.19 11.5558 12.1665H14.9129C17.5438 12.1665 19.8188 13.9923 20.3904 16.559L24.045 33.0148C24.6167 35.5815 26.8917 37.4073 29.5225 37.4073H51.4325L55.6383 20.5782H28.3821C27.6608 20.5453 26.98 20.2356 26.4812 19.7135C25.9825 19.1915 25.7042 18.4973 25.7042 17.7753C25.7042 17.0532 25.9825 16.359 26.4812 15.837C26.98 15.3149 27.6608 15.0052 28.3821 14.9723H55.6383C56.491 14.9721 57.3325 15.1662 58.0988 15.54C58.8651 15.9138 59.5362 16.4574 60.0609 17.1295C60.5856 17.8015 60.9502 18.5844 61.1269 19.4185C61.3037 20.2526 61.2879 21.1161 61.0808 21.9432L56.875 38.7665C56.5718 39.9804 55.8714 41.0581 54.8852 41.8281C53.899 42.5981 52.6837 43.0163 51.4325 43.0161H29.5225C26.9698 43.0164 24.4934 42.1461 22.5021 40.5489C20.5109 38.9516 19.124 36.723 18.5704 34.2311L14.9129 17.7753H11.5558Z" fill="#F9D9D9"/>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - NegoSudWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
