@model IEnumerable<NegoSudLib.DAO.Categorie>

@{
    ViewData["Title"] = "Index";
}

<h1>Accueil</h1>

<div class="product-container">
	@foreach (var categorie in Model)
	{	
	<div class="product-card">
		<div class="product-domaine">@categorie.NomCategorie</div>
			<div class="product-picInfo">
				<img class="product-pic" src="">
										
							@*<div class="product-action">
								<a href="#" class="btn btn-primary">Voir les produits</a>
							</div>*@
			</div>
	</div>
	}
</div>


