@* @using NegoSudLib.DTO.Read

@model ClientDTO

@{
    ViewData["Title"] = "Connexion";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Pas de compte? Inscrivez vous</a>
</p>

<form method="post">
    <div>
        <label for="Username">Username:</label>
    </div>
    <div>
        <label for="Password">Password:</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form> *@