@model NegoSudLib.DTO.Read.ClientDTO
<a asp-area="" asp-controller="Clients" asp-action="Register">Pas de compte? S'inscrire</a>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Pseudo</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <label asp-for="MotDePasse" class="control-label">Mot de passe</label>
        <input type="password" asp-for="MotDePasse" class="form-control" />
        <span asp-validation-for="MotDePasse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" value="Login" class="buttonNormal">Se connecter</button>
    </div>

</form>