
@{
    ViewData["Title"] = "Index";
}

<h1>Votre panier</h1>

<div class="page-panier-container">
    <div class="panier">
        <div class="item-panier">
            <img class="img-item-panier" src=""/>
            <p> ici il y aura les articles</p>
            <P>test</P>
        </div>
    </div>

    <div class="recap-panier">
        <div class="infos-green">Votre commande est éligible à la livraison Standard gratuite en France métropolitaine. Restrictions applicables</div>
        <div>Sous-total (4 articles) :</div>
        <div>455,55$</div>
        <button class="button-passer-commande">Passer la commande</button>
    </div>
</div>
