html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid 1px #460A26;
    border-radius: 20px;
    overflow: hidden;
}

.product-domaine {
    width: 300px;
    height: 30px;
    text-align: center;
    background: #460A26;
    border-radius: 20px 20px 0 0;
    color: white;
}

.CategorieNom {
    width: 300px;
    height: 30px;
    text-align: center;
    color: black;
}

.product-picInfo {
    width: 300px;
    margin:10px;
    display: flex;
    flex-direction: row;
}

.product-pic {
    width: 120px;
    height: 120px;
}

.img-categorieRouge {
    height: 300px;
    margin: 30px 0px 25px 68px;
}

.img-categorieBlanc {
    height: 304px;
    margin: 20px 0px 30px 0px;
}

.img-categorieRose {
    height: 300px;
    margin: 40px 0px 20px 0px;
}

.img-categoriePetillant {
    height: 270px;
    margin: 45px 0px 45px 0px;
}

.img-categorieChampagne {
    height: 370px;
    margin: -15px 0px 0px 0px
}

.img-categorieDigestifs {
    height: 360px;
    margin: -5px 0px 0px 15px;
}

.product-info {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
}

product-prices {
    display: flex;
    flex-direction: row;
}


.product-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}
.product-price {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border: solid 1px #460A26;
    border-radius: 20px;
    padding: 5px;
}
.product-quantity{
    display: flex;
    flex-direction: row;

}
.product-priceValue {
    font-size: 20px;
    font-weight: bold;
}
.product-qtValue {
    width: 50px;
    margin: 0px 5px;
}
.product-plusMinus{
    width:30px;
    height:30px;
}

.product-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin:10px;
}

.product-AddToCart{
    margin:10px;
    padding:10px;
    border-radius: 10px;
}
button {
    background: #460A26;
    color: white;
    border: 0px;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.panier-deleteBtn {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
    display:flex;
    justify-content:space-around;
}

.deleteIcon{
    height:15px;
    width:15px;
    align-self:center;

}

.panier-item {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    border: solid 1px #460A26;
    border-radius: 10px;
    padding: 10px;
}

.panier-img {
    width: 100px;
    height: 100px;
    align-self:center;
    margin-right:20px;
}

.panier-button path {
    fill: #460A26;
    color: #460A26;
}

.panier-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panier-gestion{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.panier-gestion *{
    margin: 10px;
}

.recap-panier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    border: solid 1px #460A26;
    border-radius: 10px;
    width: 25%;
    font-weight: bold;
    font-size: 20px;
    max-height: 250px
}



.panier {
    width: 70%
}


.panier-picInfo {
    display: flex;
}
